.container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    .page{
        width: 80%;
    }
}

@media(max-width: 600px){
    .container{
        .page{
            width: 100%;
        }
    }
}